<div id="discover" class="row">

  <!-- First Half -->
  <div class="col-md-6">
    <div class="container-fluid">

      <!-- File List -->
      <div class="row">
        <div class="list-group">
          <a href="#" class="list-group-item active">Selected will looks like this</a>
          <% @items.each do |item|%>
            <a href="#" class="list-group-item"><%= item.name %></a>
          <% end %>
        </div>
      </div>

      <!-- Google Map -->
      <div class="row">
        <div class="col-md-12">
          <div id="mapCanvas"></div>
        </div>
      </div>

    </div>
  </div>

  <!-- Second Half - File Preview-->
  <div class="col-md-6">
    <div id="filePreview"class="container-fluid well">
      File Preview Will Be Here
    </div>
  </div>
</div>

