html, body {
  height: 100%;
}

#wrapper {
  margin-top: 50px;
  height: 100%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand.text {
  padding: 15px;
}

.navbar-text {
  font-weight: bold;
}

.navbar-brand > img {
  height: 40px;
}

#avatar {
  border-radius: 20px;
}
