html, body {
  height: 100%;
  overflow: hidden;
}

#wrapper {
  margin-top: 50px;
  height: 100%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand.text {
  padding: 15px;
}

.navbar-text {
  font-weight: bold;
}

.navbar-brand > img {
  height: 40px;
}

#avatar {
  border-radius: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.disabled {
  opacity: 0.1;
}