@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

#discover {
  margin-top: 20px;
}

#discover #mapCanvas {
  height: 428px;
  border-radius: 4px;
}

#discover #filePreview {
  height: 695px;
  position: relative;
}

#discover #filePreview img {
  position: absolute;
  top: 50%;
  left: 50%;
  @include vendor-prefix(transform, translate(-50%, -50%));
  max-height: 95%;
  max-width: 95%;
}

#discover #fileList {
  position: relative;
}

// The actual list
#discover #fileList .list-group {
  height: 247px;
  overflow: scroll;
}

#discover #fileList #message {
  border: 4px dotted #f5f5f5;
  height: 100%;
  text-align: center;
  padding-top: 25px;
  border-radius: 4px;
}

#discover #fileList form {
  position: absolute;
  height: 20px;
  z-index: 999;
  top: 5px;
  right: 5px;
}
