#discover {
  margin-top: 20px;
}

#discover #mapCanvas {
  height: 428px;
  border-radius: 4px;
}

#discover #filePreview {
  height: 695px;
  position: relative;
}

#discover #filePreview img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
}

#discover #fileList {
  height: 247px;
  overflow: scroll;
}
