#discover {
  margin-top: 20px;
}

#discover #mapCanvas {
  height: 428px;
  border-radius: 4px;
}

#discover #filePreview {
  height: 695px;
  position: relative;
  /*background-image: url('http://res.cloudinary.com/ddfua301o/image/upload/bdpat46cheeahpqmvltx');*/
}

#filePreview img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#fileList {
  height: 247px;
  overflow: scroll;
}
