@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

#discover {
  margin-top: 20px;

  #mapCanvas {
    height: 428px;
    border-radius: 4px;
  }

  #filePreview {
    height: 695px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include vendor-prefix(transform, translate(-50%, -50%));
      max-height: 95%;
      max-width: 95%;
    }
  }

  #fileList {
    position: relative;

    // The actual list
    .list-group {
      height: 247px;
      overflow: scroll;
    }

    #message {
      border: 4px dotted #f5f5f5;
      height: 247px;
      text-align: center;
      padding-top: 25px;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    #addBtn {
      position: absolute;
      z-index: 999;
      top: 5px;
      right: 5px;
    }
  }

  .input-group {
    margin-top: 5px;
  }
}

