@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

#signup {
  margin-top: 50px;

  .col-md-4 {
    text-align: center;

    .form-control {
      text-align: center;
    }

    button {
      width: 100%;
    }
  }
}

#locationWell {
  // width: 627px;
  position: absolute;
  z-index: 99999;
  left: 50%;
  margin-top: 15px;
  margin-left: -395px;
  // @include vendor-prefix(transform, translate(-50%, 15%));
  background-color: rgba(245, 245, 245, 0.7);
}

#location {
  // position: absolute;
  // left: 50%;
  // margin: 5px 0 5px -293px;
  z-index: 99999;
}

#mapCanvas {
  height: 100%;
  margin: 0 -15px 0 -15px;
}